{% extends 'base.html.twig' %}

{% block title %}ShortUrl index{% endblock %}

{% block body %}
    <h1>ShortUrl index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Long Url</th>
                <th>Short Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for url in urls %}
            <tr>
                <td>{{ url.id }}</td>
                <td>{{ url.long_url }}</td>
                <td>{{ url.short_url }}</td>
                <td>
                    <a href="{{ path('short_url_edit', {'id': url.db_id}) }}">edit</a>
                    <a href="{{ path('short_url_show', {'id': url.db_id}) }}">test</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('short_url_new') }}">Create new</a>
{% endblock %}
