{% extends 'base.html.twig' %}

{% block title %}ShortUrl index{% endblock %}

{% block body %}
    <h1>ShortUrl index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Long_url</th>
                <th>Counter</th>
                <th>Token</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for short_url in short_urls %}
            <tr>
                <td>{{ short_url.id }}</td>
                <td>{{ short_url.longUrl }}</td>
                <td>{{ short_url.counter }}</td>
                <td>{{ short_url.token }}</td>
                <td>
                    <a href="{{ path('short_url_show', {'id': short_url.id}) }}">show</a>
                    <a href="{{ path('short_url_edit', {'id': short_url.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('short_url_new') }}">Create new</a>
{% endblock %}
