{% extends 'base.html.twig' %}

{% block title %}ShortUrl{% endblock %}

{% block body %}
    <h1>ShortUrl</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ short_url.id }}</td>
            </tr>
            <tr>
                <th>Long_url</th>
                <td>{{ short_url.longUrl }}</td>
            </tr>
            <tr>
                <th>Counter</th>
                <td>{{ short_url.counter }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ short_url.token }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('short_url_index') }}">back to list</a>

    <a href="{{ path('short_url_edit', {'id': short_url.id}) }}">edit</a>

    {{ include('short_url/_delete_form.html.twig') }}
{% endblock %}
